# <center>Лабораторная работа №1
## <center>Анализ данных по доходу населения UCI Adult
    
**В задании предлагается с помощью Pandas ответить на несколько вопросов по данным репозитория UCI [Adult].**

Уникальные значения признаков (больше информации по ссылке выше):
- age: continuous.
- workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- fnlwgt: continuous.
- education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- education-num: continuous.
- marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- sex: Female, Male.
- capital-gain: continuous.
- capital-loss: continuous.
- hours-per-week: continuous.
- native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- salary: >50K,<=50K

In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.set_option('precision', 2)
pd.set_option('display.max_columns', 100)
pd.set_option('display.max_rows', 100)

In [4]:
data = pd.read_csv('adult.data.csv')
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [66]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
age               32561 non-null int64
workclass         32561 non-null object
fnlwgt            32561 non-null int64
education         32561 non-null object
education-num     32561 non-null int64
marital-status    32561 non-null object
occupation        32561 non-null object
relationship      32561 non-null object
race              32561 non-null object
sex               32561 non-null object
capital-gain      32561 non-null int64
capital-loss      32561 non-null int64
hours-per-week    32561 non-null int64
native-country    32561 non-null object
salary            32561 non-null object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

**1. Сколько мужчин и женщин (признак *sex*) представлено в этом наборе данных?**

In [67]:
data['sex'].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

In [5]:
data['race'].value_counts()

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
age,1.00,-7.66e-02,0.04,7.77e-02,0.06,0.07
fnlwgt,-0.08,1.00e+00,-0.04,4.32e-04,-0.01,-0.02
education-num,0.04,-4.32e-02,1.00,1.23e-01,0.08,0.15
capital-gain,0.08,4.32e-04,0.12,1.00e+00,-0.03,0.08
capital-loss,0.06,-1.03e-02,0.08,-3.16e-02,1.00,0.05
hours-per-week,0.07,-1.88e-02,0.15,7.84e-02,0.05,1.00

**2. Каков средний возраст (признак *age*) женщин?**

In [68]:
data[data['sex'] == 'Female'] ['age'].mean()

36.85823043357163

**3. Какова доля граждан Германии (признак *native-country*)?**

In [89]:
len(data[data['native-country' ] == 'Germany']) / (len(data['native-country' ]))

0.004207487485028101

**4-5. Каковы средние значения и среднеквадратичные отклонения возраста тех, кто получает более 50K в год (признак *salary*) и тех, кто получает менее 50K в год?**

In [70]:
data[data['salary'] == '<=50K'].describe()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,24720.00,2.47e+04,24720.00,24720.00,24720.00,24720.00
mean,36.78,1.90e+05,9.60,148.75,53.14,38.84
std,14.02,1.06e+05,2.44,963.14,310.76,12.32
min,17.00,1.23e+04,1.00,0.00,0.00,1.00
25%,25.00,1.18e+05,9.00,0.00,0.00,35.00
50%,34.00,1.79e+05,9.00,0.00,0.00,40.00
75%,46.00,2.39e+05,10.00,0.00,0.00,40.00
max,90.00,1.48e+06,16.00,41310.00,4356.00,99.00

In [71]:
data[data['salary'] == '>50K'].describe()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,7841.00,7.84e+03,7841.00,7841.00,7841.00,7841.00
mean,44.25,1.88e+05,11.61,4006.14,195.00,45.47
std,10.52,1.03e+05,2.39,14570.38,595.49,11.01
min,19.00,1.49e+04,2.00,0.00,0.00,1.00
25%,36.00,1.19e+05,10.00,0.00,0.00,40.00
50%,44.00,1.76e+05,12.00,0.00,0.00,40.00
75%,51.00,2.31e+05,13.00,0.00,0.00,50.00
max,90.00,1.23e+06,16.00,99999.00,3683.00,99.00


**6. Правда ли, что люди, которые получают больше 50k, имеют как минимум высшее образование? (признак *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [72]:
education_list = ['Bachelors', 'Prof-school', 'Assoc-acdm', 'Assoc-voc', 'Masters', 'Doctorate']
data[data['education'].isin(education_list) == False ] [data['salary'] == '>50K'] 
#нет, не правда, и без высшего образования люди получают больше 50К

/home/anatolii/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
27,54,?,180211,Some-college,10,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,0,0,60,South,>50K
38,31,Private,84154,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,0,0,38,?,>50K
55,43,Private,237993,Some-college,10,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,>50K
67,53,Private,169846,HS-grad,9,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,40,United-States,>50K
68,49,Self-emp-inc,191681,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,United-States,>50K
84,44,Private,343591,HS-grad,9,Divorced,Craft-repair,Not-in-family,White,Female,14344,0,40,United-States,>50K
86,49,Local-gov,268234,HS-grad,9,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
97,37,Private,202683,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,0,0,48,United-States,>50K
105,32,Self-emp-inc,317660,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,7688,0,40,United-States,>50K
112,56,Self-emp-not-inc,335605,HS-grad,9,Married-civ-spouse,Other-service,Husband,White,Male,0,1887,50,Canada,>50K
139,49,Private,81973,Some-college,10,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,United-States,>50K
154,52,?,252903,HS-grad,9,Divorced,?,Not-in-family,White,Male,0,0,45,United-States,>50K
172,51,Private,96062,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,0,1977,40,United-States,>50K
180,44,Local-gov,181344,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,38,United-States,>50K
183,40,Private,286370,7th-8th,4,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,Mexico,>50K
184,37,Federal-gov,29054,Some-college,10,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,42,United-States,>50K
208,58,Self-emp-inc,210563,HS-grad,9,Married-civ-spouse,Sales,Wife,White,Female,15024,0,35,United-States,>50K
211,37,Private,208358,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,>50K
214,54,Self-emp-inc,125417,7th-8th,4,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
246,58,Private,236596,HS-grad,9,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,45,United-States,>50K
255,42,Self-emp-not-inc,303044,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,Asian-Pac-Islander,Male,0,0,40,Cambodia,>50K
265,37,Self-emp-inc,257295,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,75,Thailand,>50K
267,64,Private,21174,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
269,33,Private,222205,HS-grad,9,Married-civ-spouse,Craft-repair,Wife,White,Female,0,0,40,United-States,>50K
270,61,Private,69867,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
276,44,Private,170924,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,7298,0,40,United-States,>50K
279,24,Private,279472,Some-college,10,Married-civ-spouse,Machine-op-inspct,Wife,White,Female,7298,0,48,United-States,>50K
281,42,Local-gov,97688,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,5178,0,40,United-States,>50K
302,31,Private,217460,HS-grad,9,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,45,United-States,>50K
303,55,Private,238638,HS-grad,9,Married-civ-spouse,Sales,Husband,White,Male,4386,0,40,United-States,>50K
309,41,Self-emp-inc,34987,Some-college,10,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,54,United-States,>50K
327,43,Private,187728,Some-college,10,Married-civ-spouse,Prof-specialty,Wife,White,Female,0,1887,50,United-States,>50K
342,36,State-gov,119272,HS-grad,9,Married-civ-spouse,Protective-serv,Husband,White,Male,7298,0,40,United-States,>50K
355,38,Federal-gov,95432,HS-grad,9,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,40,United-States,>50K
387,44,Private,162028,Some-college,10,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,2415,6,United-States,>50K
390,35,Private,220098,HS-grad,9,Married-civ-spouse,Other-service,Wife,White,Female,0,0,40,United-States,>50K
408,28,?,123147,Some-college,10,Married-civ-spouse,?,Wife,White,Female,0,1887,40,United-States,>50K
415,35,Private,92440,12th,8,Divorced,Craft-repair,Not-in-family,White,Male,0,0,50,United-States,>50K
428,63,Self-emp-inc,222289,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
443,44,Private,116632,Some-college,10,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,>50K
451,45,Self-emp-inc,197332,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,55,United-States,>50K
452,60,Private,245062,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,>50K
454,44,Self-emp-not-inc,234885,HS-grad,9,Married-civ-spouse,Sales,Wife,White,Female,0,0,40,United-States,>50K
470,60,Private,201965,Some-college,10,Never-married,Prof-specialty,Unmarried,White,Male,0,0,40,United-States,>50K
513,34,Private,337587,Some-college,10,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,>50K
521,50,Private,196232,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,7688,0,50,United-States,>50K
523,37,Local-gov,186035,Some-college,10,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,45,United-States,>50K
524,44,Private,177905,Some-college,10,Divorced,Machine-op-inspct,Unmarried,White,Male,0,0,58,United-States,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32098,45,Private,170871,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,7298,0,60,United-States,>50K
32115,29,Private,119359,HS-grad,9,Married-civ-spouse,Prof-specialty,Wife,Asian-Pac-Islander,Female,0,0,10,China,>50K
32117,47,Private,121124,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,>50K
32119,46,Private,165138,Some-college,10,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,45,United-States,>50K
32123,44,Federal-gov,281739,Some-college,10,Never-married,Adm-clerical,Not-in-family,White,Male,13550,0,50,United-States,>50K
32125,55,Private,165881,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
32129,48,Private,350440,Some-college,10,Married-civ-spouse,Craft-repair,Other-relative,Asian-Pac-Islander,Male,0,0,40,Cambodia,>50K
32133,52,Federal-gov,154521,HS-grad,9,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,44,United-States,>50K
32135,48,Private,175070,HS-grad,9,Divorced,Exec-managerial,Not-in-family,White,Female,0,2258,40,United-States,>50K
32138,50,Self-emp-inc,121441,11th,7,Never-married,Exec-managerial,Other-relative,White,Male,0,2444,40,United-States,>50K
32161,37,Private,143771,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,>50K
32179,58,Private,250206,10th,6,Married-civ-spouse,Craft-repair,Husband,White,Male,5178,0,40,United-States,>50K
32183,44,Self-emp-inc,138991,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,United-States,>50K
32195,41,Private,112283,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,60,United-States,>50K
32198,67,Self-emp-inc,182581,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,White,Male,20051,0,20,United-States,>50K
32199,27,Private,100669,Some-college,10,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,Philippines,>50K
32214,22,Local-gov,164775,5th-6th,3,Never-married,Handlers-cleaners,Other-relative,White,Male,0,0,40,Guatemala,>50K
32216,45,Private,265097,HS-grad,9,Married-civ-spouse,Other-service,Husband,White,Male,0,1902,40,United-States,>50K
32221,37,Self-emp-not-inc,162834,HS-grad,9,Married-civ-spouse,Sales,Husband,White,Male,0,1902,45,United-States,>50K
32234,41,Private,206139,HS-grad,9,Married-civ-spouse,Sales,Husband,White,Male,0,0,40,United-States,>50K
32236,26,Private,323044,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,Germany,>50K
32246,32,Self-emp-not-inc,116508,Some-college,10,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,>50K
32254,31,Private,251659,Some-college,10,Married-civ-spouse,Other-service,Husband,Asian-Pac-Islander,Male,0,1485,55,?,>50K
32260,39,Federal-gov,232036,Some-college,10,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,40,United-States,>50K
32271,42,Local-gov,201495,Some-college,10,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,72,United-States,>50K
32272,38,Private,447346,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,36,United-States,>50K
32292,41,Private,318046,Some-college,10,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,48,United-States,>50K
32295,32,Private,33678,Some-college,10,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,50,United-States,>50K
32297,47,Private,160474,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,30,United-States,>50K
32302,45,Local-gov,162187,HS-grad,9,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
32305,34,Private,356882,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States,>50K
32308,37,Private,377798,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,3103,0,40,United-States,>50K
32333,37,Self-emp-inc,328466,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,United-States,>50K
32358,34,Private,115066,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,42,United-States,>50K
32372,51,Private,40641,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,>50K
32375,59,Private,395736,HS-grad,9,Married-civ-spouse,Handlers-cleaners,Husband,White,Male,0,0,40,United-States,>50K
32386,59,Federal-gov,23789,HS-grad,9,Married-civ-spouse,Sales,Wife,White,Female,0,0,40,United-States,>50K
32389,47,Private,248059,Some-college,10,Married-civ-spouse,Other-service,Husband,White,Male,0,0,47,United-States,>50K
32400,53,Local-gov,186303,Some-college,10,Married-civ-spouse,Protective-serv,Husband,White,Male,0,1887,40,United-States,>50K
32402,42,Private,288154,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,89,United-States,>50K
32415,57,Self-emp-not-inc,65080,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,50,United-States,>50K
32440,30,Self-emp-not-inc,176185,Some-college,10,Married-spouse-absent,Craft-repair,Own-child,White,Male,0,0,60,United-States,>50K
32441,53,Private,304504,Some-college,10,Married-civ-spouse,Transport-moving,Husband,White,Male,0,1887,45,United-States,>50K
32453,46,Private,42251,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States,>50K
32462,48,Self-emp-inc,185041,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,7298,0,50,United-States,>50K
32510,39,Private,107302,HS-grad,9,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,45,?,>50K
32518,57,Local-gov,110417,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,99999,0,40,United-States,>50K
32519,46,Private,364548,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,48,United-States,>50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

**7. Выведите статистику возраста для каждой расы (признак *race*) и каждого пола. Используйте *groupby* и *describe*. Найдите таким образом максимальный возраст мужчин расы *Amer-Indian-Eskimo*.**

In [73]:
data.groupby(['race'])['age'].describe()

                      count   mean    std   min   25%   50%   75%   max
race
Amer-Indian-Eskimo    311.0  37.17  12.45  17.0  28.0  35.0  45.5  82.0
Asian-Pac-Islander   1039.0  37.75  12.83  17.0  28.0  36.0  45.0  90.0
Black                3124.0  37.77  12.76  17.0  28.0  36.0  46.0  90.0
Other                 271.0  33.46  11.54  17.0  25.0  31.0  41.0  77.0
White               27816.0  38.77  13.78  17.0  28.0  37.0  48.0  90.0

In [74]:
data.groupby('sex')['age'].describe()

          count   mean    std   min   25%   50%   75%   max
sex
Female  10771.0  36.86  14.01  17.0  25.0  35.0  46.0  90.0
Male    21790.0  39.43  13.37  17.0  29.0  38.0  48.0  90.0

In [75]:
data.groupby(['race', 'sex'])['age'].max()

race                sex
Amer-Indian-Eskimo  Female    80
                    Male      82
Asian-Pac-Islander  Female    75
                    Male      90
Black               Female    90
                    Male      90
Other               Female    74
                    Male      77
White               Female    90
                    Male      90
Name: age, dtype: int64

**8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак *marital-status*)? Женатыми считаем тех, у кого *marital-status* начинается с *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.**

In [83]:
Maried_list = ['Married-civ-spouse', 'Married-spouse-absent', ' Married-AF-spouse']
len(data[data['marital-status'].isin(Maried_list)] [data['sex'] == 'Male'] [data['salary'] == '>50K'])

/home/anatolii/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

5961

In [77]:
len(data[data['marital-status'].isin(Maried_list) == False] [data['sex'] == 'Male'] [data['salary'] == '>50K'])

/home/anatolii/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

701

**9. Какое максимальное число часов человек работает в неделю (признак *hours-per-week*)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**

In [78]:
data['hours-per-week'].max()

99

In [91]:
len(data[data['hours-per-week'] == data['hours-per-week'].max()])

85

In [94]:
len(data[(data['hours-per-week'] == data['hours-per-week'].max() ) & (data['salary'] == '>50K')]) / \
len(data[data['hours-per-week'] == data['hours-per-week'].max()])

0.29411764705882354

**10. Посчитайте среднее время работы (*hours-per-week*) зарабатывающих мало и много (*salary*) для каждой страны (*native-country*).**

In [81]:
data.pivot_table(['hours-per-week'], ['salary' , 'native-country'], 
               aggfunc='mean')

                                   hours-per-week
salary native-country
<=50K  ?                                    40.16
       Cambodia                             41.42
       Canada                               37.91
       China                                37.38
       Columbia                             38.68
       Cuba                                 37.99
       Dominican-Republic                   42.34
       Ecuador                              38.04
       El-Salvador                          36.03
       England                              40.48
       France                               41.06
       Germany                              39.14
       Greece                               41.81
       Guatemala                            39.36
       Haiti                                36.33
       Holand-Netherlands                   40.00
       Honduras                             34.33
       Hong                                 39.14
       Hungary                              31.30
       India                                38.23
       Iran                                 41.44
       Ireland                              40.95
       Italy                                39.62
       Jamaica                              38.24
       Japan                                41.00
       Laos                                 40.38
       Mexico                               40.00
       Nicaragua                            36.09
       Outlying-US(Guam-USVI-etc)           41.86
       Peru                                 35.07
       Philippines                          38.07
       Poland                               38.17
       Portugal                             41.94
       Puerto-Rico                          38.47
       Scotland                             39.44
       South                                40.16
       Taiwan                               33.77
       Thailand                             42.87
       Trinadad&Tobago                      37.06
       United-States                        38.80
       Vietnam                              37.19
       Yugoslavia                           41.60
>50K   ?                                    45.55
       Cambodia                             40.00
       Canada                               45.64
       China                                38.90
       Columbia                             50.00
       Cuba                                 42.44
       Dominican-Republic                   47.00
       Ecuador                              48.75
       El-Salvador                          45.00
       England                              44.53
       France                               50.75
       Germany                              44.98
       Greece                               50.62
       Guatemala                            36.67
       Haiti                                42.75
       Honduras                             60.00
       Hong                                 45.00
       Hungary                              50.00
       India                                46.48
       Iran                                 47.50
       Ireland                              48.00
       Italy                                45.40
       Jamaica                              41.10
       Japan                                47.96
       Laos                                 40.00
       Mexico                               46.58
       Nicaragua                            37.50
       Peru                                 40.00
       Philippines                          43.03
       Poland                               39.00
       Portugal                             41.50
       Puerto-Rico                          39.42
       Scotland                             46.67
       South                                51.44
       Taiwan                               46.80
       Thailand                             58.33
       Trinadad&Tobago                      40.00
       United-States                        45.51
       Vietnam                              39.20
       Yugoslavia                           49.50